@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// a{
//     font-family: "Poppins", sans-serif;
//     //font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
//     font-size: 30px;
    
// }

body{
    background: #ccc9c9;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.navbar{
    // height: 100%;
//   width: 100%;

    .nav-background-img{
        position: relative;
        height: 65vh;
        width: auto;
        // border: 1px solid rgb(42, 255, 42);
    }

    .person-background-img{
        height: 65vh;
        width: 100%;
    }

    .navbar-top{
        position: absolute;
        top: 2vh;
        padding: 0 2vh;
        display: flex;
        place-content: space-between;
        // border: 1px solid blueviolet;
    }

    .logo{
        position: relative;
        height: 100%;
        font-weight: bold;
        color: white;
        font-size: 4vmin;
        // border:1px solid blue;
    }

    .mobile-menu{
        position: relative;
        width: 5%;
        cursor: pointer;
        filter: invert(1);
        -webkit-filter: invert(1);   
    }

    nav{
        display: none;
    }

    .hero{
        position: absolute;
        padding: 0;
        top: 30vh;
        // border: 1px solid red;
    }

    .hero > h1 {
        margin: 0 2vh;
        color: white;
        text-align: center;
        font-size: 4vmax;
        // border: 1px solid yellow;  
    }

    .hero > p {
        color: white;
        margin-left: 4vh;
    }

    .membership-redirect{
        border-bottom: 1px solid white;
        display: inline-block;
        // border: 1px solid rgb(36, 233, 247);
    }
}

a{
    color: white;
    cursor: pointer;
}

.features{
    background-color: rgb(191,177,196);
    padding-top: 2px;
    // border: 2px solid green;

    .feature-img{
        display: block;
        height: 80%;
        width: 90%;
        margin: 5vh auto;
        // border: 1px solid rgb(38, 255, 49);
    }

    .col{
        width: 90%;
        margin: 0 auto;
        color: white;
        // border: 1px solid red;
    }

    .self-care-msg{
        margin: 0 auto;
    }

    .col > h4{
        font-weight: lighter;
    }

    .learn-more{
        padding: 20px;
        font-weight: 600;
        color: rgb(191,177,196);
        font-family: "Poppins", sans-serif;
    }

    .left-col > .learn-more{
        margin-bottom: 5vh;
    }

    // .friend-learn{
    //     margin-bottom: 2vh;
    // }

}